:root {
  --primario: #4ea5dc;
  --secundario: #001d3e;
  --blanco: #f7f8f3;
  --rojo: #f8444f;
  --negro: #020612;
  --sombra: #e4eaee;
  --fuentePrincipal: "Roboto", sans-serif;
  --fuenteSecundaria: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}

h2,
h3 {
  font-weight: 700;
  margin: 2rem 0;
}

h1 {
  font-size: 3.6rem;
  font-weight: 900;
  margin: 0;
}
h2 {
  font-size: 4.6rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
p {
  font-family: var(--fuenteSecundaria);
}
img {
  max-width: 100%;
  display: block;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$="__contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$="__heading"] {
  text-align: center;
  margin-bottom: 5rem;
}

[class$="__btn--secundario"] {
  display: inline-block;
  border: solid 0.1rem var(--primario);
  color: var(--primario);
  padding: 1.5rem;
  border-radius: 1rem;
}

[class$="__btn--ternario"] {
  color: var(--primario);
  border-bottom: solid 0.1rem var(--primario);
}
/* Header */
.header {
  padding: 1rem 0;
}

.header__contenedor {
  max-width: 100%;
  width: 100%;
}

.header__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header__heading {
  margin: 0;
}

.menu {
  display: none;
}

@media (min-width: 1200px) {
  .menu {
    display: block;
    width: 40%;
  }

  .menu__flex {
    display: flex;
    justify-content: space-between;
  }

  .menu__link {
    display: inline-block;
    padding: 1.5rem;
    color: var(--negro);
  }
}

.header__span {
  color: var(--primario);
}

.header__img {
  width: 4.5rem;
  height: 4.5rem;
}

/* Boton */
@media (min-width: 1200px) {
  .boton {
    display: none;
  }
}

.boton__btn {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  width: 5rem;
  height: 5rem;
}

.boton__top,
.boton__middle,
.boton__bottom {
  border-radius: 0.5rem;
  background: var(--negro);
  display: block;
  width: 60%;
  margin: 0.5rem auto;
  height: 0.2rem;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.boton__btn--open .boton__top {
  animation-name: boton__top--animation;
}

.boton__btn--open .boton__middle {
  animation-name: boton__middle--animation;
}

.boton__btn--open .boton__bottom {
  animation-name: boton__bottom--animation;
}

.boton__top {
  animation-name: boton__top--close;
}

.boton__middle {
  animation-name: boton__middle--close;
}

.boton__bottom {
  animation-name: boton__bottom--close;
}

@keyframes boton__top--animation {
  50%,
  100% {
    margin: 0 auto;
    transform: translateY(0.2rem) rotate(-45deg);
  }
}

@keyframes boton__bottom--animation {
  50%,
  100% {
    margin: 0 auto;
    transform: translateY(-0.2rem) rotate(45deg);
  }
}

@keyframes boton__middle--animation {
  20%,
  100% {
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
}

@keyframes boton__top--close {
  0% {
    margin: 0 auto;
    transform: translateY(0.2rem) rotate(-45deg);
  }

  50%,
  100% {
    margin: 0.5rem auto;
    transform: translateY(0rem) rotate(0deg);
  }
}

@keyframes boton__middle--close {
  0% {
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
  20%,
  100% {
    margin: 0 auto;
    width: 60%;
    opacity: 1;
  }
}

@keyframes boton__bottom--close {
  0% {
    margin: 0 auto;
    transform: translateY(-0.2rem) rotate(45deg);
  }

  50%,
  100% {
    margin: 0.5rem auto;
    transform: translateY(0rem) rotate(0deg);
  }
}

.header__menu {
  width: 100%;
  /* display: none; */
  height: 0;
  pointer-events: none;
  overflow: hidden;
  transition: all 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__menu--activo {
  /* display: block; */
  height: 100%;
  pointer-events: auto;
}

.header__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.header__link {
  text-align: center;
  display: inline-block;
  font-weight: 700;
  padding: 1.5rem;
  width: 100vw;
  color: var(--negro);
}

@media (min-width: 1200px) {
  .header__menu {
    display: none;
  }
  .header__menu--activo {
    display: none;
  }
  .header__links {
    display: none;
  }
  .header__link {
    display: none;
  }
}

.header__presentacion {
  position: relative;
  width: 100%;
  margin-top: 2rem;
}

.header__menu {
  z-index: 1;
  position: absolute;
  background-color: rgb(255 255 255 / 0.95);
}

.header__fondos {
  position: relative;
  margin-top: 1rem;
}

.header__fondo {
  width: 100%;
  object-fit: cover;
}

.header__eslogan {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  background: rgb(9, 19, 25);
  background: radial-gradient(
    circle,
    rgba(9, 19, 25, 0.75) 0%,
    rgba(19, 39, 51, 0.5) 50%,
    rgba(8, 67, 105, 0.2497373949579832) 100%
  );
  color: var(--blanco);
}

/* Nosotros */
.nosotros__contenedor {
  margin: 0 auto;
  width: 100%;
}

.nosotros__heading {
  margin: 0;
}

.nosotros__flex {
  display: flex;
  flex-direction: column;
  background-color: var(--sombra);
}

@media (min-width: 768px) {
  .nosotros__flex {
    flex-direction: row;
  }
}

.nosotros__titulo {
  margin-bottom: 3rem;
}
.nosotros__texto {
  padding: 2rem;
}

@media (min-width: 768px) {
  .nosotros__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.nosotros__parrafo {
  margin: 0;
  font-size: 1.8rem;
}

.nosotros__fondo {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/* Servicios */

.servicios__titulo {
  margin-bottom: 0;
  margin-top: 3rem;
}

.servicios__grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}

@media (min-width: 768px) {
  .servicios__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }
}

@media (min-width: 1200px) {
  .servicios__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.servicios__servicio {
  border-radius: 1rem;
  background-color: var(--sombra);
}

.servicios__nombre {
  text-align: center;
}

.servicios__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.servicios__contenido {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
}

/* Cita */
.cita {
  margin: 5rem 0;
}

.cita__contenedor {
  padding: 2rem 0 4rem;
  background-color: var(--sombra);
}

.cita__heading {
  font-size: 3.6rem;
  padding: 0 2rem;
  font-weight: 900;
  color: transparent;
  background: linear-gradient(
    90deg,
    rgba(0, 29, 48, 1) 0%,
    rgba(0, 105, 175, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.cita__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  padding: 1rem;
}

.cita__icono {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cita__seleccion {
  text-align: center;
}

.cita__texto {
  padding: 2rem 1rem;
  margin: 0;
  text-align: center;
}

.cita__boton {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
  width: 20rem;
  border-radius: 1rem;
  background-color: var(--primario);
  color: var(--blanco);
}

/* Pacientes */
.pacientes__contenedor {
  width: 100%;
}
@media (min-width: 768px) {
  .pacientes__contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .pacientes__contenedor {
    width: 100%;
  }
}

.pacientes__grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}

@media (min-width: 768px) {
  .pacientes__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }
}

@media (min-width: 1200px) {
  .pacientes__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pacientes__paciente {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(11, 24, 32);
  background: linear-gradient(
    0deg,
    rgba(11, 24, 32, 1) 0%,
    rgba(9, 111, 175, 1) 100%
  );
  padding: 0 2rem;
}

.pacientes__nombre {
  padding: 2rem 0;
  text-align: center;
  color: var(--blanco);
}

@media (min-width: 1200px) {
  .pacientes__nombre {
    padding: 0;
    height: 10rem;

    display: flex;
    align-items: center;
  }
}

.pacientes__foto {
  object-fit: cover;
  border-radius: 1rem;
  width: 100%;
}

.pacientes__paciente:last-of-type .pacientes__foto {
  object-position: center top;
}

.paciente__cita {
  text-align: center;
  color: var(--blanco);
  padding: 2rem 0;
  position: relative;
}

@media (min-width: 1200px) {
  .paciente__cita {
    height: 20rem;
  }
}

.paciente__cita::before {
  content: "";
  background-image: url("../assets/comillas.png");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -3.5rem;
  left: 1rem;
}

/* Contacto */
.contacto__heading {
  margin: 3rem 0;
}

.contacto__contenido {
  padding: 2rem;
  border: solid 0.1rem var(--negro);
}

.contacto__flex {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--sombra);
  border-radius: 1rem;
}

@media (min-width: 1200px) {
  .contacto__flex {
    padding: 2rem 25rem;
  }
}

.contacto__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacto__texto {
  width: 20rem;
  text-align: center;
}

.contacto__icono {
  width: 2rem;
  height: 2rem;
}

/* footer */
.footer {
  margin-top: 5rem;
  padding: 2rem 0 0;
  background-color: var(--secundario);
  color: var(--blanco);
}

.footer__grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .footer__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15rem 1fr 10rem;
  }
}

.footer__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .footer__heading {
    grid-row: 1 / 2;
  }
}

.footer__heading {
  margin-bottom: 2rem;
  font-weight: 900;
}

@media (min-width: 768px) {
  .footer__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer__link {
  color: var(--blanco);
}

.footer__derechos {
  text-align: center;
  padding: 2rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer__derechos {
    grid-column: 1 / 4;
  }
}
